header {
    position: fixed;
    float: right;
    width: 100%;
    top: 0;
    left: 0;
    background-color: hsl(342, 100%, 40%);
    color: white;
    font-family: 'Exo 2'sans-serif;
    padding: 0.5em;
    border-spacing: 0.5mm;
  };
  body {width: 60vw;}
  
    @media (max-width: 600px) {
      body {
          background-color: lightblue;
      }
  } 
  .container {
    Display: flex; 
    Flex-direction: row;
    align-self: flex-end;
    justify-content: space-around;
  };

  .video {
      flex-direction: column;
  }